@charset "UTF-8";
.barra-superior-govco {
  background-color: #3366cc;
}
.barra-superior-govco img {
  width: 100px;
  margin-left: 2rem;
}

@font-face {
  font-family: "govco-fontv2";
  src: url("../fonts/govco/govco-font-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
p {
  line-height: 1.5 !important;
}

.row > * {
  padding-left: 0 !important;
  margin-left: unset !important;
}

.row {
  margin-left: 0 !important;
}

.row.col-xs-12.col-lg-7.govco-texto-sedes,
.row.col-xs-12.col-lg-7.govco-network {
  padding-left: 0 !important;
  width: 100% !important;
}

[class^=govco-]:before,
[class*=" govco-"]:before {
  font-family: "govco-fontv2";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.govco-twitter-square:before {
  content: "\ee16";
}

.govco-twitter:before {
  content: "\ee17";
}

.govco-instagram-square:before {
  content: "\ed5b";
}

.govco-instagram:before {
  content: "\ed5c";
}

.govco-facebook-f:before {
  content: "\ed0e";
}

.govco-facebook-messenger:before {
  content: "\ed0f";
}

.govco-facebook-square:before {
  content: "\ed10";
}

.govco-facebook:before {
  content: "\ed11";
}

.govco-phone:before {
  content: "\ea8a";
}

.govco-phone-alt:before {
  content: "\ea85";
}

/*** FUENTE ICONOS ***/
/*** MODAL 1 ***/
.govco-logo-entidad {
  height: 64px;
  display: inline-block;
  content: url(https://cdn.www.gov.co/v4/assets/images/Entidad.svg);
}

.govco-co {
  height: 48px;
  margin-top: 24px;
  display: inline-block;
  content: url(https://cdn.www.gov.co/v4/assets/images/logo-colombia.svg);
}

.govco-separator {
  border-left: 1px solid #e5eefb;
  opacity: 1px;
  height: 44px;
  margin-left: 10px;
  margin-right: 5px;
  display: inline-block;
}

.govco-logo {
  height: 30px;
  display: inline-block;
  content: url(https://cdn.www.gov.co/v4/assets/images/logo.svg);
  vertical-align: super;
}

.govco-footer-logo {
  height: 96px;
  background-color: #3366cc;
  width: 100%;
  margin-top: 20px !important;
  padding-left: 20px;
}

.govco-data-front {
  width: calc(100% - 40px);
  margin-left: 20px !important;
  -webkit-box-shadow: 50px 30px 0px -30px #3d8832, -50px 30px 0px -30px #3d8832, 0px 20px 0px 0px #3d8832, 50px 50px 0px -30px #3d8832, -50px 50px 0px -30px #3d8832;
  box-shadow: 50px 30px 0px -30px #3d8832, -50px 30px 0px -30px #3d8832, 0px 20px 0px 0px #3d8832, 50px 50px 0px -30px #3d8832, -50px 50px 0px -30px #3d8832;
  top: 0;
  border: 2px solid #e5eefb;
  border-radius: 10px;
  opacity: 1;
}

.govco-text-header-1 {
  color: #3366cc;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.govco-text-header-2 {
  color: #3366cc;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.govco-text-header-3 {
  color: #3366cc;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.govco-logo-container {
  margin-left: 80px !important;
}

.govco-link-modal {
  color: #3366cc;
  margin-right: 30px !important;
  text-decoration: underline;
}

.icon::before {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  margin-right: 10px !important;
  margin-left: 5px !important;
  vertical-align: text-top !important;
  color: #3366cc;
}

.govco-iconContainer {
  display: inline-block !important;
  width: auto !important;
}

.govco-links-container {
  margin-bottom: 50px !important;
  margin-top: 30px !important;
}

.govco-footer-text {
  margin-top: 50px !important;
  margin-left: 80px !important;
}

.govco-texto-sedes,
.govco-network {
  padding: unset !important;
}

.govco-network,
.govco-listado-sedes {
  margin-top: 30px !important;
}

.govco-sedes {
  margin-top: 20px !important;
}

.govco-logo-div-a {
  text-align: center !important;
}

.govco-links-directorio {
  margin-top: 20px !important;
}

.govco-link-container {
  display: inline-block;
  width: auto !important;
}

.govco-mostrar {
  display: none !important;
}

.govco-nombre-entidad {
  margin-bottom: 0px !important;
}

@media (max-width: 991px) {
  .govco-sedes {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 5px !important;
  }
  .govco-sede-info {
    margin-left: 0 !important;
  }
  .govco-text-header-1 {
    margin-left: 15px !important;
  }
  .govco-logo-entidad {
    height: 65px;
  }
  .govco-footer-text {
    margin: 0 !important;
    margin-top: 50px !important;
  }
  .govco-nombre-entidad {
    margin-left: 0px !important;
    width: 100% !important;
  }
  .govco-logo-div-a {
    margin-left: 0 !important;
  }
  .govco-texto-sedes,
  .govco-links-directorio,
  .govco-listado-sedes,
  .govco-links-container {
    margin-left: 15px !important;
    margin-top: 20px !important;
  }
  .govco-texto-sedes,
  .govco-network {
    padding: unset !important;
  }
  .govco-iconContainer {
    margin-top: 20px !important;
    display: block !important;
    width: 100% !important;
  }
  .govco-network {
    margin-left: 15px !important;
    margin-top: 10px !important;
  }
  .govco-text-header-3 {
    margin-top: 20px !important;
  }
  .govco-link-container {
    display: block !important;
    width: 100% !important;
  }
  .govco-mostrar {
    display: unset !important;
  }
  .govco-logo-container {
    text-align: center !important;
    margin-left: unset !important;
  }
  .govco-texto-sedes {
    padding-right: 20px !important;
  }
}
.govco-footer {
  margin-top: 30px;
}

.site-title {
  display: none;
}

.navbar-brand {
  padding-left: 20px;
}

.navbar-expand-lg {
  margin-top: 3px;
}
.navbar-expand-lg .navbar-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-expand-lg .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar-toggler:after {
  content: "Menú";
  font-size: 0.7rem;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-nav li {
  padding-left: 10px;
  margin-right: 10px;
  border-left: solid #3c8833 2px;
}
.navbar-nav li:first-of-type {
  border-left: none;
}
.navbar-nav li ul li {
  border-left: none;
}

.sf-profes li a {
  text-decoration: none;
  color: inherit;
}
.sf-profes li .menuparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.sf-profes li .menuparent .sf-sub-indicator {
  margin-left: 2px;
}/*# sourceMappingURL=all.css.map */
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
  }
  .field--name-field-profes-del-mes .block-views-blocksecciones-block-4 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-11 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-17 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-12 h2:before {
    content: "";
    background-image: url(../img/ico-profe-mes.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .field--name-field-aliados {
    width: 100% !important;
  }
  .govco-nombre-entidad p {
    padding-left: 10px;
  }
  .lfoot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .lfoot img {
    width: 100%;
    height: auto;
  }
  .field--name-field-grupo-de-secciones .field__item .block-views-blocksecciones-block-1 {
    border-right: none !important;
  }
  .resumen-recuadros {
    display: none;
  }
  .slider-perfiles .view-content .skin-default .views-slideshow-controls-top .views_slideshow_controls_text .views_slideshow_controls_text_previous {
    width: 10px !important;
    height: 10px !important;
  }
  .slider-perfiles .view-content .skin-default .views-slideshow-controls-top .views_slideshow_controls_text .views_slideshow_controls_text_next {
    width: 10px !important;
    height: 10px !important;
  }
  .node-content .node__content .field--name-body {
    padding: 10px;
  }
  .node-content .node__content .field--name-field-video {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .node-content .node__content .field--name-field-video figure iframe {
    width: 100%;
    height: auto !important;
  }
}/*# sourceMappingURL=all.css.map */