@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 780px) {
  .video-home {
    width: 100%;
    background-color: #3C8832;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video-home .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-home .view-content .views-row {
    padding: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-home .view-content .views-row .views-field-field-video iframe {
    width: 100%;
  }
  .video-home .view-content .views-row .views-field-body .field-content p {
    font-family: "Single Day", cursive;
  }
  .menu-perfiles .view-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-perfiles .views-row {
    margin-top: 10px;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas {
    width: 100% !important;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-filters {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-filters .views-exposed-form .form--inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-filters .views-exposed-form .form--inline .fieldgroup .fieldset-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-filters .views-exposed-form .form--inline .fieldgroup .fieldset-wrapper .form-radios {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-recur .view-content {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vocabulary-publico-objetivo .field--name-field-vistas .view-recur .view-content .views-row {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .field--name-field-grupo-de-secciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .field--name-field-grupo-de-secciones .field__item {
    width: 100% !important;
  }
  .field--name-field-video-de-la-semana {
    background-color: #627786;
    width: 100%;
    padding-top: 10px;
  }
  .field--name-field-video-de-la-semana .block-views-blocksecciones-block-3, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-10, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-9, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-16 {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .field--name-field-video-de-la-semana .block-views-blocksecciones-block-3 h2, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-10 h2, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-9 h2, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-16 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 1.2rem;
  }
  .field--name-field-video-de-la-semana .block-views-blocksecciones-block-3 h2:before, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-10 h2:before, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-9 h2:before, .field--name-field-video-de-la-semana .block-views-blocksecciones-block-16 h2:before {
    content: "";
    background-image: url(../img/ico-video-semana.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .video-semana .view-content {
    padding: 10px;
  }
  .video-semana .view-content .views-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profes-del-mes .view-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profes-del-mes .view-content .views-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profes-del-mes .view-content .views-row .views-field-field-imagen {
    height: auto !important;
  }
  .field--name-field-profes-del-mes {
    width: 100%;
    background-image: url(../img/bg-section-pm.png);
    background-size: cover;
    margin-top: -20px;
  }
  .field--name-field-profes-del-mes .block-views-blocksecciones-block-4, .field--name-field-profes-del-mes .block-views-blocksecciones-block-11, .field--name-field-profes-del-mes .block-views-blocksecciones-block-17, .field--name-field-profes-del-mes .block-views-blocksecciones-block-12 {
    width: 100% !important;
    margin: 20px auto;
    padding: 20px;
  }
  .field--name-field-profes-del-mes .block-views-blocksecciones-block-4 h2, .field--name-field-profes-del-mes .block-views-blocksecciones-block-11 h2, .field--name-field-profes-del-mes .block-views-blocksecciones-block-17 h2, .field--name-field-profes-del-mes .block-views-blocksecciones-block-12 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
  }
  .field--name-field-profes-del-mes .block-views-blocksecciones-block-4 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-11 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-17 h2:before, .field--name-field-profes-del-mes .block-views-blocksecciones-block-12 h2:before {
    content: "";
    background-image: url(../img/ico-profe-mes.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .field--name-field-aliados {
    width: 100% !important;
  }
}/*# sourceMappingURL=all.css.map */