
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: "Raleway", sans-serif;

$yellow-color: #F6BF42;
$gold-color: #9C6F08;
$green-color: #3C8832;
$brown-color: #7A5F21;
$gray-color: #627786;
$blue-color:#2A65B0;
