
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$yellow-color: #F6BF42;
$green-color: #3C8832;
$brown-color: #7A5F21;
$blue-color:#2A65B0;
