.site-title{
    display: none;
    
}
.navbar-brand{
    padding-left: 20px;
}
.navbar-expand-lg{
    .navbar-toggler{
        display: flex;
    }
    .navbar-collapse{
        display: flex;
    }
}
.menu-group{
    display: flex;
}