.site-title{
    display: none;
    
}
.navbar-brand{
    padding-left: 20px;
}
.navbar-expand-lg{
    margin-top: 3px;
    .navbar-toggler{
        display: flex;
    }
    .navbar-collapse{
        display: flex;
    }

}
.menu-group{
    display: flex;
}
.navbar-toggler{
    border: none;
    display: flex;
    flex-direction: column;
    &:after{
        content: 'Menú';
        font-size: 0.7rem;
    }
    &:focus{
        box-shadow: none;
    }
}
.navbar-nav{
    li{
        padding-left: 10px;
        margin-right: 10px;
        border-left: solid #3c8833 2px;
        &:first-of-type{
            border-left: none;
        }
    }

}