.site-title{
    display: none;
    
}
.navbar-brand{
    padding-left: 20px;
}
.navbar-expand-lg{
    .navbar-toggler{
        display: flex;
    }
    .navbar-collapse{
        display: flex;
    }
}
.menu-group{
    display: flex;
}
.navbar-toggler{
    border: none;
    display: flex;
    flex-direction: column;
    &:after{
        content: 'Menú';
        font-size: 0.7rem;
    }
    &:focus{
        box-shadow: none;
    }
}